<!DOCTYPE html>
<html>
  <head>
    <title>Tailwindui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/alert" %>
    <%= render "shared/navbar" %>

    <div class="flex">
      <%= render "shared/sidebar" %>

      <main class="w-4/6 p-4 flex-grow">
        <%= yield %>
      </main>

      <%= render "shared/right_sidebar" %>
    </div>

  </body>
</html>
